<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-4">Secrets</h1>
      <p class="lead">Anonymous secrets shared by our users</p>
      <ul class="list-group mt-3">
        <% secrets.forEach(secret => { %>
          <li class="list-group-item"><%= secret.content %></li>
        <% }) %>
      </ul>


      <hr>

      <a class="btn btn-light btn-lg" href="/logout" role="button">Logout</a>
      <a class="btn btn-light btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
