body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}
#wrapper{
    width: 550px;
    margin: 0 auto;
}
label{
    width:200px;
    float: left;
    position: relative;
    top: 12px;
}
input{
    width:320px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 12px 5px 5px;
    margin-bottom: 10px;
}
.input-eye-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#submit{
    width: 130px;
    margin-left: 200px;
}
#error{
    color: red;
    font-size: 90%;
}
#success{
    color: green;
    font-size: 90%;
}
.eye-icon {
    cursor: pointer;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-left: -30px;
    margin-bottom: 10px;
}
